docker-compose.yml
docker-compose*.yml

# Mac/Windows system files
.DS_Store
Thumbs.db

# .env
.env

# IDEs and editors
.idea/
.vscode/
*.iml

# Logs
*.log

# Node and Java modules (catch if someone runs stuff here by mistake)
node_modules/
target/
